@using Books_Stock_Market.Models.ViewModels
@model EditOfferViewModel

@{
    ViewData["Title"] = "Admin Offer Manage Page";
    Layout = "~/Views/Shared/_AdministrationLayout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
